@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'iceHimchan-Rg';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0iceHimchan-Rg.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

  body{
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    justify-content: center; 
    align-items: center;
    font-family: 'iceHimchan-Rg';
  }
  .game{
    width: 80%;
    max-width: 500px; 
    padding: 3rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffdc21; 
    box-shadow: 0 10px 10px rgba(255, 153, 0, 0.3);
  }
  .main_text{
    font-family: 'Cafe24Ssurround';
    font-size: 2rem;
    color: #ffffff; 
    text-shadow: 3px 3px 3px #ff9811;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }
  .game_board{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .game_score{
    width: 75%;
    height: 7rem;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgb(63 65 80 / 10%);
    font-size: 1rem;
    color: #555555;
  }
  .game_score::after{
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 1px;
    height: 50px;
    background-color: #dddddd;
  }
  .game_score li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
  .game_score li h2{
    font-size: 1.3rem;
    font-family: 'iceHimchan-Rg';
    margin-bottom: -0.4rem;
    color: #555;
  }
  
  .game_point{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .game_reset{
    margin-left: auto;
    width: 20%;
    height: 7rem;
    font-size: 1.4rem;
    font-family: 'iceHimchan-Rg';
    background:#fff  url(/image/refresh.png) no-repeat 50% 30% / 36px;
    padding-top: 3rem;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 4px 4px 0 rgb(63 65 80 / 10%);
    border: none;
  }
  .body{
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .body::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: #fff;
  }
  .game_item{
    height: 30vh;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game_img{
    width: 180px;
    height: 200px;
    background: no-repeat 50% / contain;
  }
  .game_text{
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .btn-wrap{
    display: flex;
    justify-content: space-between;
    margin: 3rem auto 0;
    width: 90%;
  }
  .game_btn{
    display: block;
    width: 130px;
    height: 130px;
    background: #eee no-repeat 50% / 80%;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgb(63 65 80 / 10%);
    border: none;
    transition: background-position 0.3s;
  }
  .game_scissors{
    background-image: url(/image/scissors.png);
    background-position: 70% 50%;
  }
  .game_rock{
    background-image: url(/image/rock.png);
  }
  .game_paper{
    background-image: url(/image/paper.png);
    background-position: 70% 50%;
  }

  /* modal */
  .modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
  }
  .modal.show {
    display: flex;
  }
  .modal_wrap{

    position: relative;
    padding: 2rem;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    overflow: hidden;
  }
  .modal_title {
    font-size: 2rem;
    font-family: 'Cafe24Ssurround';
  }
  .modal_text{
    padding: 0.4rem 0 1rem;
    border-bottom: 1px solid #ccc;
    color: #555;
  }
  .close_btn{
    display: flex;
    position: absolute;
    top: 0; right: 0;
    width: 50px;
    height: 50px;
    background-color: #555;
    border-radius: 0 10px 0 0;
    cursor: pointer;
  }
  .close_btn em{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    transition: transform 0.5s;
    font-style: normal;
  }
  .close_btn em::before,.close_btn em::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.close_btn em::before {
  transform: rotate(45deg);
}
.close_btn em::after {
  transform: rotate(-45deg);
}
.modal_container{
  margin: 2rem 0;
  min-height: 150px;
  background-color: #fff;
  line-height: 2rem;
}
.modal_info{
  padding: 0;
}
.modal_item {
  position: relative;
  color: #333;
  font-family: 'iceHimchan-Rg';
}
li{list-style: none;}
.modal__check-btn {
  display: none;
}

.madal_btn {
  display: grid;
  place-items: center;
  margin: 3rem auto 0;
  width: 140px;
  height: 60px;
  background-color: #ffdc21;
  border-radius: 30px;
  color: #fff;
  border: none;
  box-shadow: 0 4px 4px 0 rgb(63 65 80 / 10%);
  font-size: 1.6rem;
  transition: transform 0.3s;
  cursor: pointer;
}

.img_info {
  display: block;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.7);
}

@media (hover: hover) {
  .game_reset:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 4px 0 rgb(63 65 80 / 10%);
  }
  .game_btn:hover {
    border: 5px solid #ffbd08;
    box-shadow: 0 4px 4px 0 rgb(63 65 80 / 10%);
    transform: translateY(-10px);
  }
  .madal_btn:hover {
    background-color: #ff5e00;
    transform: translateY(-10px);
  }
  .close_btn:hover {
    background-color: #ffdc21;
  }
  .close_btn:hover em {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .close_btn:hover em::before,
  .close_btn:hover em::after {
    background-color: #000;
  }
}

.game_reset {
  background: #fff url(../image/refresh.png) no-repeat 50% 30% / 36px;
}

.game_scissors {
  background-image: url(../image/scissors.png);
  background-position: 70% 50%;
}

.game_rock {
  background-image: url(../image/rock.png);
}

.game_paper {
  background-image: url(../image/paper.png);
  background-position: 70% 50%;
}
